# Build-Ordner
build/
cmake-build-*/

# IDE-Dateien
.idea/
*.iml
*.xml
# GLFW oder externe Libraries (falls du sie lokal hast)
glfw/

# OS / System-Dateien
*.DS_Store
Thumbs.db

# Executables / Debug-Dateien
*.exe
*.obj
*.log
*.pdb
*.ilk
*.out

# Temporäre Dateien
*.tmp
*.swp
